/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    list-style: none;
}

a {
    text-decoration: none;
}

@font-face {
    font-family: 'Poppins', sans-serif;
    src: url(../fonts/Poppins-Regular.ttf);
}

body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

:root {
    --title-color:#4E4B66;
    --main-color: #5F2EEA;
    --menu-color: #6E7191
    --titles-size: 48px;
    --main-font: 'Poppins', sans-serif;
}

.container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}



.nav {
    background-color: #fff;
    border-bottom: 1px solid #D9DBE9;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 999;
}

.navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 33px 0;
    
}

.navigation__menu {
    position: relative;
    left: 60px;
    cursor: pointer;
}

/* /HERO/ */

.hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    padding-top: 100px;
}

.hero__text-title {
    font-size: 64px;
    font-weight: 700;
    line-height: 66px;
    letter-spacing: 1px;
    width: 669px;
    color:#4E4B66;
}

.hero__image {
    width: 1090px;
    position: relative;
    right: 430px;
    top: 30px;
}

.hero__text-buttons {
    margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 25px;
       -moz-column-gap: 25px;
            column-gap: 25px;
}

.main-button {
    padding: 15px 40px;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.75px;
    font-weight: 600;
    border-radius: 40px;
    border: 2px solid transparent;
    background-color: var(--main-color);
    color: #fff;
    cursor: pointer;
    position: relative;
    z-index: 1;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
}

.main-button:hover {
    background-color: transparent;
    border-color: var(--main-color);
    color: var(--main-color);
    
}

.main-button--white {
    background-color: transparent;
    border-color: var(--main-color);
    color: var(--main-color);
}
.main-button:active {
    -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
            transform: scale(0.9);
}
.statistics {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.statistics-main {
    border-top: 1px solid #D9DBE9;
    border-bottom: 1px solid #D9DBE9;
}
.statistics__box {
    padding: 48px 48px 48px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
}

.statistics__box img {
    width: 37px;
}

.statistics__box-text {
    max-width: 245px;
}

.statistics__box-text h3{
    color: #2A00A2;
    letter-spacing: 1px;
    font-weight: 700;
    line-height: 34px;
    font-size: 32px;

}
.statistics__box-text p {
    line-height: 28px;
    font-size: 16px;
    color: #6E7191;
    letter-spacing: 0.75px;
    margin-top: 15px;
}

.statistics__box--middle {
    border-left: 1px solid #D9DBE9;
    border-right: 1px solid #D9DBE9;
    padding-left: 89px  ;
}

.tools {
    width: 100%;
    margin-top: 83px;
}

.main-titles-box span {
    color: #BCA4FF;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.75px;
}

.main-titles-box-bottom  {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 36px;
}

.main-titles-box-bottom h2 {
    color: var(--title-color);
    font-size: 48px;
    max-width: 500px;
}

.main-titles-box-bottom p {
    max-width: 410px;
    font-size: 16px;
    letter-spacing: 0.75px;
    line-height: 28px;
    font-weight: 400;
    color: #000;
}
.tools__card {
    margin-top: 87px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.tools__card-box {
    width: 369px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 53px 33px 61px 33px;
    border: 1px solid #E4DAFF;
    border-radius: 20px;
}

.tools__card-box h6{
    font-size: 18px;
    font-weight: 600;
    line-height: 34px;
    letter-spacing: 0.75px;
    text-align: center;
    margin-top: 28px;
}

.tools__card-box p {
    max-width: 295px;
    text-align: center;
    font-size: 16px;
    margin-top: 7px;
    margin-bottom: 32px;
    letter-spacing: 0.75px;
    line-height: 28px;

}
.card-box-button {
    max-height: 64px;
    width: 245px;
}


/* gallery start */
.gallery__title {
    color: var(--primary-darkmode, #BCA4FF);
    -webkit-font-feature-settings: 'clig' off, 'liga' off;
            font-feature-settings: 'clig' off, 'liga' off;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    /* 175% */
    letter-spacing: 0.75px;
    text-transform: uppercase;
    margin-top: 135px;
    margin-bottom: 36px;
}

.gallery__card__titile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.wonderful {
    max-width: 515px;
    color: var(--grayscale-body, #4E4B66);
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
    /* 104.167% */
    letter-spacing: 1px;
}

.gallery__card__titile__left {
    max-width: 445px;
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    /* 175% */
    letter-spacing: 0.75px;
}

.gallery__card__total {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 35px;
    margin-top: 111px;
    margin-bottom: 100px;
    position: relative;
}

.gallery__card__total img {
    width: 550px;
}

/* galler  end*/

/* planing satr */
.planing {
    max-height: 5489px;

}

.ahed {
    color: var(--primary-darkmode, #BCA4FF);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    /* 175% */
    letter-spacing: 0.75px;
    text-transform: uppercase;
    margin-bottom: 36px;
}

.review {
    color: var(--grayscale-body, #4E4B66);
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
    /* 104.167% */
    letter-spacing: 1px;
    max-width: 619px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 118px;

}

.planing__about {
    padding: 100px 30px;
    background-image: url(../images/airhel.png);
    background-repeat: no-repeat;
    background-position: center 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    /* padding: ; */
}


.first {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 33px;
    max-width: 263px;
}

.between {
    margin-top: 85px;
    margin-bottom: 85px;
    margin-left: -30px;
}

.left__between {
    margin-top: 85px;
    margin-bottom: 85px;
    margin-left: 30px;
}

.planing__about__center {
    background-image: url(../images/airhel.png);
}

/* planing end */

/* testmonial start */
.testmonial {
    margin-top: 120px;
}

.title {
    color: var(--primary-darkmode, #BCA4FF);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    /* 175% */
    letter-spacing: 0.75px;
    text-transform: uppercase;
}

.testmonial__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 36px;
    margin-bottom: 36px;
}

.testmonial__title h2 {
    color: var(--grayscale-body, #4E4B66);
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
    /* 104.167% */
    letter-spacing: 1px;
    max-width: 577px;
}

.testmonial__cards__total {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 83px;
}

.testimonial__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 26px;
       -moz-column-gap: 26px;
            column-gap: 26px;
}

.testmonial__card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 369px;
    position: relative;
    border-radius: 20px;
    border: 1px solid var(--primary-light, #E4DAFF);
    padding-bottom: 42px;
}


.testmonial__card__img {
    width: 110px;
    height: 110px;
    background-color: #CDCCFF;
    border-radius: 50px;
    /* margin: 0 auto; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    top: 0;
    left: 128px;
    top: -50px;

}

.testmonial__between img {
    margin-top: -20px;
}

.testmonial_card__info--name {
    color: var(--primary-default, #5F2EEA);
    text-align: center;
    /* font-feature-settings: 'clig' off, 'liga' off; */
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 27px;
    /* 150% */
    letter-spacing: 0.75px;
    max-width: 141px;
    text-align: center;
    margin: 0 auto;
    margin-top: 9px;
}

.testmonial_card__info {
    max-width: 308px;
    padding-top: 70px;

}

.testmonial_card__info--line {
    display: block;
    height: 1px;
    width: 271px;
    background: #E4DAFF;
    margin: 21px auto;

}

.testmonial_card__info--tex {
    color: var(--grayscale-body, #4E4B66);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px;
    /* 188.889% */
    letter-spacing: 0.75px;
}

/* testmonial end */

.information {
    background-image: url(../images/information_backround.png);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 143px;
    padding-bottom: 98px;
    border-radius: 20px;
    margin-top: 93px;
}

.information__title {
    color: #FFF;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
    /* 104.167% */
    letter-spacing: 1px;
    max-width: 605px;
}

.information__button {
    width: 243px;
    height: 64px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    stroke-width: 2px;
    color: var(--grayscale-off-white, #FCFCFC);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    /* 175% */
    letter-spacing: 0.75px;
    background: none;
    border: 1px solid var(--grayscale-off-white, #FCFCFC);
    border-radius: 30px;
    margin-top: 33px;

}





/* sdaksdjhad */



.information {
    background-image: url(../images/information_backround.png);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 143px;
    padding-bottom: 98px;
    border-radius: 20px;
    margin-top: 93px;
}

.information__title {
    color: #FFF;
    text-align: center;
    
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
    /* 104.167% */
    letter-spacing: 1px;
    max-width: 605px;
}

.information__button {
    width: 243px;
    height: 64px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    stroke-width: 2px;
    color: var(--grayscale-off-white, #FCFCFC);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    /* 175% */
    letter-spacing: 0.75px;
    background: none;
    border: 1px solid var(--grayscale-off-white, #FCFCFC);
    border-radius: 30px;
    margin-top: 33px;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
}

.information__button:active {
    -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
            transform: scale(0.9);
}


.footer {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 100px;
}
.footer__left {
    max-width: 260px;
}

.footer__left-img img{
    width: 102px;
    margin-bottom: 30px;
}

.footer__left-paragraph {
    max-width: 230px;
    font-size: 14px;
    letter-spacing: 0.75px;
    line-height: 22px;
    font-weight: 400;
    color: #000;
    margin-bottom: 30px;
}

.footer__left-copyright {
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.25px;
    line-height: 22px;
}

.footer__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* justify-content: space-between; */
    -webkit-column-gap: 150px;
       -moz-column-gap: 150px;
            column-gap: 150px;
    margin-left: 200px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
}

.footer__menu-item {
    margin-bottom: 23px;
}

.footer__menu-item:first-child a{
    font-weight: 700;
    font-size: 20px;
}

.footer__menu-item a {
    color: #6E7191;
    font-size: 14px;
}
